<form name="vm.form" class="card card-default">
  <div class="card-header">{{vm.widget.name}}</div>
  <div class="card-body ">
    <div class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-5">
            <input type="text" value="name" required disabled />
          </div>
          <div class="col-sm-6">
            <input type="text" ng-model="vm.widget.name" required />
          </div>
          <div class="col-sm-1">
            <input type="button" ng-click="vm.removeField($index)" value="x" class="btn-error btn-sm" />
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-5">Key</div>
          <div class="col-sm-7">Value</div>
        </div>
      </div>
      <div ng-repeat="field in vm.widget.fields" class="list-group-item">
        <div class="row">
          <div class="col-sm-5">
            <input type="text" ng-model="field.key" required />
          </div>
          <div class="col-sm-6">
            <input type="text" ng-model="field.value" required />
          </div>
          <div class="col-sm-1">
            <input type="button" ng-click="vm.removeField($index)" value="x" class="btn-error btn-sm" />
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <input type="button" ng-click="vm.addNewField()" value="add" class="btn-error btn-sm" />
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" ng-click="vm.save()" value="Save" class="btn-primary btn-sm"
           ng-disabled="!vm.form.$dirty || vm.form.$invalid" />
    <a ui-sref="home()" class="btn-primary btn-sm">Cancel</a>
  </div>
</form>
