<div class="row">
  <div class=" col-sm-{{!vm.selectedWiget ? 12: 6}}">
    <div class="card">
      <div class="card-header"><h1>main</h1></div>
      <div class="card-body row">
        <div class="col-sm-{{!vm.selectedWiget ? 3: 6}}" ng-repeat="widget in vm.widgets" ng-click="vm.showSummary(widget)">
          <widget-on-list widget="widget" is-selected="vm.selectedWiget.id === widget.id" />
        </div>
      </div>
      <div class="card-footer">
        <a href="/edit/"  class="btn-primary btn-lg btn-block">Add new widget</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6" ng-if="vm.selectedWiget">
    <div class="container" ng-view="details"></div>
  </div>
</div>